<template name="_component">
{{#with data}}
  <form class="ui huge form">
    <div class="two fields">
      <div class="field">
        <select name="isoValue" class="ui dropdown">
          {{#each isoValues}}
            <option value="{{value}}" selected="{{isIsoSelected}}">
              ISO {{value}}
            </option>
          {{/each}}
        </select>
      </div>
      <div class="field">
        <input type="number" name="luxValue" min="1" value="{{currentLuxValue}}">
      </div>
    </div>
  </form>
  {{#with exposureTable}}
    <table class="ui unstackable large table">
      <thead>
        <tr>
          <th colspan="3" class="center aligned">
            {{../currentLuxValue}} lux / {{../currentIsoValue}} iso<br>
            Aperture : Speed
          </th>
        </tr>
      </thead>
      <tbody>
      {{#each values}}
        <tr>
          <td class="seven wide right aligned">
            {{#if isNearPerfectExposure}}
              <i class="pink star icon"></i>
            {{/if}}
          </td>
          <td class="one wide right aligned">
            {{#if fValue.fullStop}}
              <span style="font-size: larger;">{{fValue.value}}</span>
            {{else}}
              <span style="font-size: smaller;">{{fValue.value}}</span>
            {{/if}}
          </td>
          <td class="{{sValue.class}} eight wide left aligned">
            {{#if sValue.fullStop}}
              <span style="font-size: larger;">{{sValue.label}}</span>
            {{else}}
              <span style="font-size: smaller;">{{sValue.label}}</span>
            {{/if}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{/with}}
{{/with}}
</template>
