<template name="_index">
  <div class="ui attached borderless large menu" style="border: 0">
    <div class="item">
      <img src="/favicon.svg">
    </div>
    <div class="item">
      Indie Toolkit
    </div>
  </div>
  {{> _component}}
</template>
