<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head profile="http://www.w3.org/2005/10/profile">
  <link rel="icon" type="image/png" href="/favicon.png">
  <title>Indie Toolkit: Creativity on a budget</title>
  <meta
    name="description"
    content=""
  >
  <meta
    name="keywords"
    content="indietoolkit, photography, film, light meter, exposure"
  >
  <meta name="author" content="Rolando Lora">
  <meta property="og:title" content="Indie Toolkit: Creativity on a budget">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.indietoolkit.com">
  <meta property="og:image" content="http://www.indietoolkit.com/favicon.png">
  <meta property="og:image:width" content="300">
  <meta property="og:image:height" content="300">
  <meta
    property="og:description"
    content=""
  >
</head>
<body>
  {{> _index}}
</body>
